.cardContainer {
    box-shadow: 0 0 200px rgba(0,0,0,0.9) inset;
}

.card {
    font-size: 12px;
    padding: 1rem;
    min-width: 400px;
    position: relative;
}

.card > p {
    color: #f1f0f4;
}

.card--image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    height: 345px;
    width: 300px;
    max-width: 100%;
    max-height: 100%;
    border-radius: 9px;
}

.card--stats {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    margin-bottom: 25px;
}

.card--stats > * {
    margin-right: 4px;
    margin-top: 4px;
}

.card--star {
    height: 14px;
}

.gray {
    color: #f1f0f4;
}

.bold {
    font-weight: bold;
    color: #f1f0f4;
}

.card--title {
    display: flex;
    text-align: center;
}

.card--price {
    display: flex;
    align-items: flex-end;
}

.card--badge {
    position: absolute;
    top: 3.2rem;
    left: 3.7rem;
    background-color: #f1f0f4;
    padding: 5px 7px;
    border-radius: 4px;
    font-weight: bold;
}