section {
    padding: 3rem 5rem 3rem 5rem;
}

.hero {
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 200px rgba(0,0,0,0.9) inset;
}

.photoGrid {
    min-height: 40rem;
    min-width: 66rem;
    align-self: center;
}

.heroHeader {
    margin-bottom: 16px;
}

.heroText {
    margin-top: 0;
    color: black;
    padding: 0;
}